@font-face {
  font-family: 'Navigo-Bold';
  url('../fonts/Navigo-Bold.ttf')  format('truetype')

}
@font-face {
  font-family: 'Navigo-Light';
url('../fonts/Navigo-Light.ttf')  format('truetype')

}
@font-face {
  font-family: 'Navigo-Regular';
url('../fonts/Navigo-Regular.ttf')  format('truetype')

}